@font-face {
  font-family: squid;
  src: url(/src/fonts/Game\ Of\ Squids.ttf);
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #55ff4c;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: #55ff4c;
    text-decoration: none;
    opacity: 0.6;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    background: url("/src/bg.jpg") no-repeat center center;
    background-size: cover;
    background-color: #23232e;
    height: 92vh;
    overflow-x: hidden;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: chartreuse;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    .main{
      overflow-x: hidden;
      position: fixed;
      max-width: 100dvw;
      max-height: 100dvh;
      
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content:space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    footer{
      position:fixed;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: hidden;
      
    }
    .main-section{
      padding: 60px;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    .img-carde{
      width: 12px;
    }

  }

  footer{
    color: antiquewhite;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #23232e;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
    position:fixed;
    padding: 8px;
  }
  
  .nav-list.active {
    transform: translateX(0);
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .copyright-footertext{
    padding-top: 12px;
  }

  .main-section{
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .principal-section-text{
    font-family:monospace;
    padding-top: 40px;
    margin-bottom: 40px;
    font-size:xx-large;
  }

  p{
    margin-top: 80px;
    font-family: monospace;
    border-right: 4px solid;
    width: 22ch;
    font-size:xx-large;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(22), blinking 0.2s infinite step-end alternate;
  }

  @keyframes typing {
    from{
      width: 0;
    }
  }
  @keyframes blinking{
    50%{
      border-color: transparent;
    }
  }

   .tittle-sk{
    color: #06af00;
    text-transform: uppercase;
    background-color: rgb(26, 27, 29);
    border-radius: 4px;
    padding: 8px;
    margin: 20px;
    margin-top: 140px;
  }

  .simple-divisor{
    background-color: #23232e;
    color: #23232e;
  }

  .button-green{
    border-radius: 12px;
    padding: 12px;
    margin-top: 48px;
    background-color: #55ff4c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
  }

  .comp-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .second-div{
    display: flex;
    flex-direction: column;
    background: url("/src/bg-2.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }

  .tittle-2{
    margin-top: 48px;
    text-transform: uppercase;
    color: antiquewhite;
  }

  .main-section-text{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .img-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 90px;
  }

  .img-sk{
    margin-top: 12px;
    height: 50px;
    padding: 8px;
    transition: 0.2s;
  }

   .img-sk:hover{
    height: 70px;
    padding: 8px;
    cursor: pointer;
  }

  .div-work{
    display: flex;
    flex-direction: row;
    align-content:space-between;
    justify-content:space-around;
    margin-top: 36px;
  }

  .card{
    background-color: #23232e;
    height: 400px;
    width: 300px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;

  }

  .img-card{
    width: 100px;
  }

  .squid{
    font-family: squid;
    color: blueviolet;
  }

  .precard{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-carde{
    padding-top: 12px;
    width: 48px;
    padding-bottom: 24px;
  }

  .btt-gallo{
    color: antiquewhite;
    background-color: blueviolet;
    padding: 12px;
    border-radius: 6px;
  }
  .btt-gallo:hover{
    color:blueviolet;
    background-color:antiquewhite;
    padding: 12px;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
  }